<!DOCTYPE html>
<html ng-app="cordovapp">
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Cordovapp</title>
    <link rel="stylesheet" href="css/topcoat-mobile-dark.min.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
  </head>
  <body>

    <div class="topcoat-navigation-bar">
      <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button" ng-if="nav.hasPrevious()" ng-click="nav.goPrevious()">
          <span class="topcoat-icon back-icon"></span>
        </a>
      </div>
      <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title" ng-bind="headerTitle"></h1>
      </div>
      <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button" ng-if="settingsPath" ng-click="nav.go(settingsPath)">
          <span class="topcoat-icon settings-icon"></span>
        </a>
      </div>
    </div>

    <div id="view-container">
      <ng-view ng-class="viewAnimation"></ng-view>
    </div>

    <script type='application/javascript' src='js/lib/fastclick.js'></script>
    <script>
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    </script>

    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-route.js"></script>
    <script src="js/lib/angular/angular-animate.js"></script>
    <script src="js/pedometer.js"></script>
    <script src="js/geoloc.js"></script>
    <script src="js/cordovapp.js"></script>

    <!-- Libs Cordova -->
    <script src="cordova.js"></script>
    <script src="js/angular-cordova.js"></script>

    <!-- Libs Mock -->
    <!--
    <script src="js/angular-cordova-crazy.js"></script>
    -->
  </body>
</html>
